body {    
    background-color: blue;
    color: white;
}

#submit-button:hover {
    color: white;
    background-color: black;
}

h2 {
    margin-left: 10px;
    font-size: smaller;
    padding-top: 15px;
    color: darkslategray;
}

.menu-bar {
    background-color: darkslategray;
}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
    margin: 10px;
    padding: 0;
    height: 50px;
    width: 100%;
}

.menu-bar ul li {
        list-style: none;
        padding: 0 5px 0 5px;
        display: list-item;
 
}

.menu-bar ul li a {
    letter-spacing: 0.1em;
    font-size: 8px;
    display: block;
    height: 15px;
    margin: 10px 5px 0 5px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

.selected {
    background-color: black;
}

.not-selected:hover {
    background-color: gray;
}

/* Desktop view */
@media screen and (min-width: 600px){
    
    h2 {
        margin-left: 10px;
        font-size: large;
        padding-top: 15px;
        color: #000;
    }

    .menu-bar ul {
        display: inline-flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        float: left;
        background-color: darkslategray;
        height: 50px;
        padding: 0;
    }

    .menu-bar ul li {
        margin-top: 1em;
        
    }

    .menu-bar ul li a {
        color: white;
        text-decoration: none;
        font-size: 0.8em;
    }
}