body {
    background-color: blue;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selected {
    background-color: black;
}

h2 {
    margin-left: 10px;
    font-size: smaller;
    padding-top: 15px;
    color: black;
}

.menu-bar {
    background-color: darkslategray;
}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
    margin: 10px;
    padding: 0;
    height: 50px;
    width: 100%;
}

.menu-bar ul li {
        list-style: none;
        padding: 0 5px 0 5px;
        display: list-item;
 
}

.menu-bar ul li a {
    letter-spacing: 0.1em;
    font-size: 8px;
    display: block;
    height: 15px;
    margin: 10px 5px 0 5px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

.not-selected:hover {
    background-color: gray;
}

.text {
    width: 90%;
    margin: auto;
    text-align: justify;
}

@media screen and (max-width: 600px){
    .publication-content {
        width: 90vw;
        margin: 1.2rem;
    }

    .text {
        margin-left: 0.2rem;
    }

    .des {
        width: 72vw;
        margin-right: 6rem;
    }
}

/* Desktop view */
@media screen and (min-width: 601px){
    h2 {
        margin-left: 10px;
        font-size: large;
        padding-top: 15px;
    }

    .menu-bar ul {
        display: inline-flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        float: left;
        background-color: darkslategray;
        height: 50px;
        padding: 0;
    }

    .menu-bar ul li {
        margin-top: 1em;
        
    }

    .menu-bar ul li a {
        color: white;
        text-decoration: none;
        font-size: 0.8em;
    }
}
