/**Mobile view**/
body {
    background-image: url(bgcolor.png);
    font-size:  0.8em;
}

main {
    background-color: #F0EFE2;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    display: block;
    width: 90%;
    
}

h2 {
    margin-left: 10px;
    font-size: small;
    padding-top: 15px;
}

.menu-bar {
    background-color: darkslategray;
}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
}

.menu-bar ul li {
    list-style: none;
    float: left;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    display: list-item;
 
}

.menu-bar ul li a {
    letter-spacing: 0.1em;
    font-size: 8px;
    display: block;
    float: left;
    height: 17px;
    margin: 10px 5px 0 5px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #107369;
}

#page {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 0 24px 20px 20px;
  
}

#photo {
    width: 75px;
    height: 75px;
}

#links a {
    text-decoration: none;
    color: darkslategray;
}

#side-content {
    float: right;
    width: 40vw;
    padding: 15px 15px 20px 15px;
    background-color: #F0EFE2;
}

#content {
    text-align: left;
    float: left;
    width: 50vw;
    padding: 0;
}

footer {
    font-size: 1em;
    height: 25px;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #fff;
    letter-spacing: 0.1em;
    background: darkslategray;
    
}

.selected {
    background-color: black;
}

.not-selected:hover {
    background-color: gray;
}

/*Desktop view*/
@media screen and (min-width: 600px){
    body {
        background-image: url(bgcolor.png);
        font-size: 1em;
    }
    
    h2 {
        margin-left: 10px;
        font-size: large;
        padding-top: 15px;
    }
    
    main {
        background-color: #F0EFE2;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3em;
        display: block;
        width: 90%;
    
    }
    
    .menu-bar ul {
        display: inline-flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        float: left;
        background-color: darkslategray;
        height: 50px;
        padding: 0;
    }
    
    .menu-bar ul li {
        margin-top: 1em;
        
    }
    
    .menu-bar ul li a {
        color: white;
        text-decoration: none;
        font-size: 0.8em;
    }
    
    #page {
        display: flex;
        justify-content: space-between;
        padding: 0 24px 20px 20px;
        font-size: 0.9 em;
    }
    
    
    
    #photo {
        width: 170px;
        height: 120px;
        padding-left: 2em;
    }
    
    #links {
        margin: 10px 0px;
    }
    
    #links a {
        text-decoration: none;
        color: darkslategray;
    }
    
    #content {
        width: 50vw;
        text-align: justify;
    }
    
    #side-content {
        width: 40vw;
    }
    
    footer {
        position: relative;
        text-align: center;
        background: darkslategray;
        font-size: 1em;
        color: #fff;
        padding: 20px 0px 20px 0px;
        margin-top: 80px;
       
    }
        
}

#contactme {
    body {    
        background-color:  #f3ec8e;
        color: white;
    }
    
    #submit-button:hover {
        color: white;
        background-color: black;
    }
    
    .menu-bar {
        background-color: darkslategray;
    }
    
    .menu-bar ul {
        display: flex;
        justify-content: space-between;
        background-color: darkslategray;
        margin: 10px;
        padding: 0;
        height: 50px;
        width: 100%;
    }
    
    .menu-bar ul li {
        list-style: none;
        padding: 0 5px 0 5px;
        display: list-item;
     
    }
    
    .menu-bar ul li a {
        letter-spacing: 0.1em;
        font-size: 8px;
        display: block;
        height: 15px;
        margin: 10px 5px 0 5px;
        text-align: center;
        color: #FFF;
        text-decoration: none;
    }
    
    .selected {
        background-color: black;
    }
    
    .not-selected:hover {
        background-color: gray;
    }
    
    h2 {
        margin-left: 10px;
        font-size: smaller;
        padding-top: 15px;
        color: darkslategray;
    }
    
    .contact-content {
        font-size: large;
        margin-top: 4rem;
        margin-left: 2rem;
    }
    
    .text-input {
        width: 13rem;
        height: 1.8rem;
    }
    
    #status {
        display: none;
        width: 80%;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 8px;
    }
    
    
    /* Desktop view */
@media screen and (min-width: 971px){   
    body {    
        background-color:  blue;
        color: white;
    } 

    h2 {
        margin-left: 10px;
        font-size: large;
        padding-top: 15px;
        color: #000;
    }

    .menu-bar ul {
        display: inline-flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        background-color: darkslategray;
        height: 50px;
        padding: 0;
    }

    .menu-bar ul li {
    margin-top: 1em;
    
    }

    .menu-bar ul li a {
        color: white;
        text-decoration: none;
        font-size: 0.8em;
    }

    .contact-content {
        font-size: medium;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    
    .text-input {
        width: 13rem;
        height: 1.8rem;
    }
}
